<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
        <script src="{{url_for('static',filename='js/three.js')}}"></script>
        <script src="{{url_for('static',filename='js/OrbitControls.js')}}"></script>
        <script src="{{url_for('static',filename='js/jquery-3.4.1.js')}}"></script>
    </head>
    <body>
        <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick='mySidenav.style.width = "0%"'>&times;</a>
                <h1 style="text-align: center">Cube Solver</h1>
                <p>Got a scrambled Rubik's cube? don't know how to solve it? Well, then this is the right place. This 
                    website gives you the steps to solve your cube.
                </p>
                <h3>How to use ?</h3>
                <p>Turn on "Color filling" to enable color filling in the virtual cube. Now select a color from the>
                    color palette and click on the face of virtual cube to fill the color. Once you finish color filling turn off 
                    "color filling". To make sure you have not made a mistake in color filling press verify. If everything is fine,
                    press "Solve" and SEE THE MAGIC !!
                </p>
                <h3>How it works ?</h3>
                <p>It uses "Human Thistlethwaite" algorithm to solve the cube. It is not the fastest or most efficient in terms of
                    number of steps. But it is a "Human" method, which means it can be used/learned by humans to solve the cube, unlike
                    other algorithms computers use to solve the cube which cannot be used/learned by the humans(atleast normal humans!!).
                </p>
                <h3>A Note on "verify"</h3>
                <p>The verify button is not 100% accurate. It just checks that every color is present exactly 9 times.
                    There is a test that can tell if the cube is in solvable state or not, but it is not implemented. However, the 
                    algorithm can solve all solvable configurations, so if it fails it will tell you that the cube is unsolvable.
                </p>
                <h4>Made by:</h4>
                <b>Front-end : </b><a href="https://github.com/Sufiyan1997">Sufiyan Gani</a><br>
                <b>Back-end : </b><a href="https://github.com/Sufiyan1997">Sufiyan Gani</a> and <a href="https://github.com/VaibhavD143">Vaibhav Dodiya</a>
        </div>
        <div class="grid-parent">
            <div class="child">
                <canvas id="c"></canvas>
            </div>
            <div class="child grid-parent-horizontal">
                <div class="child">
                    <div>
                        <label style="font-weight: bold">Color filling :</label>
                        <label class="switch">
                            <input type="checkbox" id="filling">
                            <span class="slider round"></span>
                        </label>
                    </div>
                      
                    <button id="resetColor" class="simpleButton">Reset Colors</button>
                    <button id="shuffle" class="simpleButton">Shuffle</button>
                    <button id="verify" class="simpleButton">Verify</button>
                    <button id="solve" class="simpleButton">Solve</button>
                    <button id="info" class="simpleButton" onclick='mySidenav.style.width = "50%"'>Info</button>
                    <h3>Current Color</h3>
                    <div id="displayColor"></div>
                    <h3>Select Color</h3>
                    <div id="pickColor" style="margin-top: 1em; height: 15%;">
                        <button class="colorBtn" value="0" style="background-color: white"></button>
                        <button class="colorBtn" value="1" style="background-color: yellow"></button>
                        <button class="colorBtn" value="2" style="background-color: red"></button>
                        <button class="colorBtn" value="3" style="background-color: orange"></button>
                        <button class="colorBtn" value="4" style="background-color: blue"></button>
                        <button class="colorBtn" value="5" style="background-color: green"></button>
                    </div>
                </div>
                <div class="child" hidden="true" id="infoBlock">
                    <h4 class="info" id="msg"></h4>
                    <h4 class="info" id="time"></h4>
                    <h4 class="info" id="nstep"></h4>
                    <h4 class="info">Steps</h4>
                    <div id="steps" style="word-break: break-word"></div>
                </div>
            </div>
        </div>
        
        <script src="{{url_for('static',filename='js/main.js')}}" type="module"></script>
    </body>
</html>